h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffff;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus,
.contacs-link:hover,
.contacs-link:focus {
  color: #404bbf;
}
.contacs {
  font-style: normal;
}
.contacs-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.header-logo {
  margin-right: 76px;
}

.contacs-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 36px;
}
.hero-buttom {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-buttom:hover,
.hero-buttom:focus {
  background: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature {
  padding: 120px 0 120px;
}
.feature-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  width: calc((100% - 72px) / 4);
}
.article-subtitle {
  margin-bottom: 8px;
}

.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.team-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.team-description {
  padding: 32px 0;
}
.article-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.title_team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 0 8px;
}

.article-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text_team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 262px;
}
